@font-face {
  font-family: "Cera Pro Black";
  src: url("./fonts/Cera Pro Black.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("./fonts/Cera Pro Bold.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Light";
  src: url("./fonts/Cera Pro Light.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Medium";
  src: url("./fonts/Cera Pro Medium.otf") format("opentype");
}
.about-main h1 {
  margin-bottom: 40px;
  font-size: 40px;
  font-family: "Cera Pro Bold";
}
.about-main h2 {
  margin-bottom: 150px;
  font-size: 34px;
  font-family: "Cera Pro Light";
}
.about-main .paragraph-col-1 {
  font-family: "Cera Pro Bold";
  font-size: 30px;
}
.about-main .paragraph-col-2 {
  font-family: "Cera Pro Light";
  font-size: 20px;
}
.about-main .logo-wrapper {
  margin-bottom: 160px;
}
.about-main .logo-wrapper .align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creative-approach {
  margin: 100px 0;
}
.creative-approach .heading {
  font-family: "Cera Pro Bold";
  font-size: 40px;
  margin-bottom: 130px;
}
.creative-approach .content-section .content-box {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.creative-approach .content-section .content-box:not(:last-of-type) {
  padding-bottom: 40px;
}
.creative-approach .content-section .content-box .img-box {
  background-color: #000000;
  margin-right: 50px;
  max-width: 75px;
  width: 100%;
}
.creative-approach .content-section .content-box .text-box h2 {
  font-family: "Cera Pro Medium";
  font-size: 24px;
}
.creative-approach .content-section .content-box .text-box h2 .post-link {
  color: #000000;
}
.creative-approach .content-section .content-box .text-box p {
  font-family: "Cera Pro Light";
  font-size: 18px;
}
.creative-approach .content-section .content-box:not(:last-child) {
  border-bottom: 1px solid #000000;
}
.creative-approach .insights-link {
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  color: #000000;
  border-bottom: 2px solid #000000;
  padding: 10px 90px 10px 0px;
  font-family: "Cera Pro Bold";
  font-size: 28px;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
}
.creative-approach .insights-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 50px;
  width: 100%;
  height: 100%;
  background-image: url(/img-about/icons-purple-arrow-right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.detailed-newsletter {
  background-color: #CCFF00;
  padding: 50px 0;
  font-family: "Cera Pro Medium";
}
.detailed-newsletter h2 {
  font-family: "Cera Pro Medium";
  margin-bottom: 50px;
  font-size: 40px;
}
.detailed-newsletter .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.detailed-newsletter .section-text {
  font-size: 18px;
  color: #000000;
}
.detailed-newsletter .section-text .section-link {
  text-decoration: underline;
  color: #000000;
}
.detailed-newsletter .form {
  position: relative;
}
.detailed-newsletter .form .input-box {
  position: relative;
}
.detailed-newsletter .form .input-box label {
  position: absolute;
  top: 8px;
  left: 0;
  color: #759300;
  transition: 0.5s;
  pointer-events: none;
  padding-left: 40px;
}
.detailed-newsletter .contact-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 40px;
  color: #000000;
}
.detailed-newsletter .contact-input:focus ~ label, .detailed-newsletter .contact-input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
}
.detailed-newsletter .contact-input:focus, .detailed-newsletter .contact-input:valid {
  border-bottom: 2px solid #000000;
}
.detailed-newsletter .submit-box {
  margin-top: 0;
}
.detailed-newsletter .submit-box::after {
  content: "";
  position: absolute;
  background-image: url("/img-about/icons-purple-arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  height: 100%;
}
.detailed-newsletter .submit {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 10px 90px 10px 0px;
  font-size: 22px;
  text-transform: lowercase;
  cursor: pointer;
}
.detailed-newsletter .btn-x {
  position: absolute;
  right: -5%;
  top: -5%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}
.detailed-newsletter .btn-x::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 2px;
  height: 60%;
  background-color: #000000;
}
.detailed-newsletter .btn-x::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 2px;
  height: 60%;
  background-color: #000000;
}

/*# sourceMappingURL=about.css.map */
