@font-face {
  font-family: "Cera Pro Black";
  src: url("./fonts/Cera Pro Black.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("./fonts/Cera Pro Bold.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Light";
  src: url("./fonts/Cera Pro Light.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Medium";
  src: url("./fonts/Cera Pro Medium.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
  font-family: "Cera Pro Light", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
}

h2 {
  font: 3.6rem/4.9rem "Cera Pro Medium", sans-serif;
  margin: 0 0 70px;
  color: #1A1A1A;
}

h3 {
  font: 3rem/4.5rem "Cera Pro Medium", sans-serif;
  margin: 0 0 30px;
  color: #1A1A1A;
}

ul {
  list-style: none;
}

p, ul, ol, dl, table, hr, pre, blockquote {
  margin: 0 0 40px;
  line-height: 3.5rem;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

section {
  padding: 40px 0;
  margin: 40px 0;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-85 {
  padding-top: 85px;
}

.p-100 {
  padding: 100px;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.center {
  align-items: center;
}

.site-header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.site-header .header-wrapper {
  min-height: 730px;
  position: relative;
}
.site-header .header-wrapper .ng-img {
  position: absolute;
  bottom: 45px;
  right: 0px;
}
.site-header .main-nav {
  padding: 20px 0;
  color: #ffffff;
}
.site-header .main-nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.site-header .main-nav .nav-wrapper .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.site-header .main-nav .nav-wrapper .nav-links ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-header .main-nav .nav-wrapper .nav-links ul li {
  display: inline-block;
}
.site-header .main-nav .nav-wrapper .nav-links ul li a,
.site-header .main-nav .nav-wrapper .nav-links ul li a:hover,
.site-header .main-nav .nav-wrapper .nav-links ul li a:visited,
.site-header .main-nav .nav-wrapper .nav-links ul li a:active,
.site-header .main-nav .nav-wrapper .nav-links ul li a:focus {
  color: #ffffff;
  margin: 0px 25px;
}
.site-header .main-nav .nav-wrapper .nav-links ul li a {
  position: relative;
  z-index: 1;
}
.site-header .main-nav .nav-wrapper .nav-links ul li a:after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: -10%;
  width: 120%;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0;
}
.site-header .main-nav .nav-wrapper .nav-links ul li a:hover:after {
  opacity: 1;
}
.site-header .main-nav .nav-wrapper .nav-links ul li:last-of-type a {
  margin-right: 0;
}

.cs-section-1 .section-item-headline .action-link {
  color: #B400D5;
}
.cs-section-1 .section-item-headline .action-link:active, .cs-section-1 .section-item-headline .action-link:visited, .cs-section-1 .section-item-headline .action-link:focus {
  color: #B400D5;
}
.cs-section-1 .section-item-headline .action-link img {
  margin-left: 20px;
}
.cs-section-1 .section-item-project {
  padding-left: 100px;
  padding-top: 70px;
}
@media (max-width: 960px) {
  .cs-section-1 .section-item-project {
    padding-left: 30px;
  }
}
.cs-section-1 .section-item-project .project-info {
  display: flex;
}
.cs-section-1 .section-item-project .project-info-keys {
  min-width: 70px;
  color: #B400D5;
}

.cs-section-2 .img img, .cs-section-9 .img img {
  width: 100%;
}

.cs-section-5 .uk-flex {
  align-items: center;
}

.cs-section-6 .uk-flex div {
  padding: 30px 80px;
}

.cs-section-3 .text, .cs-section-10 .text {
  margin-top: 100px;
}
@media (max-width: 960px) {
  .cs-section-3 .text, .cs-section-10 .text {
    margin-top: 0;
  }
}
.cs-section-3 .img, .cs-section-10 .img {
  padding-left: 100px;
}
@media (max-width: 960px) {
  .cs-section-3 .img, .cs-section-10 .img {
    padding-left: 40px;
  }
}

.cs-section-12 {
  background-color: #F6F6F6;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cs-section-12 p {
  color: #1C1C1C;
}
.cs-section-12 a {
  color: black;
  text-decoration: none;
}

.cs-section-13 {
  background-color: #F6F6F6;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cs-section-13 a {
  color: black;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
